In [1]:
# For each question, predict the correctness of every student response as always either correct or incorrect, based on 
# whichever outcome is more common for that question in the training data.

import pandas as pd
import argparse
import os

In [2]:
base_dir = '../Data/'

input_dir = base_dir + "data/train_data"
train_data = base_dir + "data/train_data/train_task_1_2.csv"
test_data_1 = base_dir + "data/test_data/test_public_answers_task_1.csv"
# submission_template_dir = base_dir + "data/train_data"
# submission_template_file = base_dir + "data/train_data"
# output_dir = base_dir + "data/train_data"
# output_file = base_dir + "data/train_data"

In [3]:
import pandas as pd
df = pd.read_csv(train_data)

In [4]:
df.head()

   QuestionId  UserId  AnswerId  IsCorrect  CorrectAnswer  AnswerValue
0       16997   65967  12453206          0              4            2
1       16531   62121  15686710          1              1            1
2       15911   50013  13598796          0              3            1
3        1701  104909  10511925          0              4            3
4       22896   21748    941747          0              1            4

In [5]:
# df.groupby('UserId').sum()
df['UserId'].value_counts().describe()

count    118971.000000
mean        133.375781
std         127.762689
min          29.000000
25%          57.000000
50%          88.000000
75%         159.000000
max        2445.000000
Name: UserId, dtype: float64

In [6]:
df['QuestionId'].value_counts().describe()

count    27613.000000
mean       574.651432
std        654.449058
min         34.000000
25%        109.000000
50%        281.000000
75%        850.000000
max       6868.000000
Name: QuestionId, dtype: float64

In [7]:
df_test = pd.read_csv(test_data_1)

In [8]:
df_test.head()

   QuestionId  UserId  AnswerId  IsCorrect
0       10856    5518   1127409          1
1       14766   41565  19673056          1
2        2829   97267  19426951          0
3       26464  100879   4929721          1
4       24436   87722   2927607          0

In [9]:
tr_uid = set(df['UserId'].values)
test_uid = set(df_test['UserId'].values)

In [10]:
tr_qid = set(df['QuestionId'].values)
test_qid = set(df_test['QuestionId'].values)

In [11]:
# len(test_uid - tr_uid)
len(test_qid - tr_qid)

0

In [12]:
df_q = df.groupby('QuestionId').sum()['IsCorrect']
df_q_count = df['QuestionId'].value_counts()

df_u = df.groupby('UserId').sum()['IsCorrect']
df_u_count = df['UserId'].value_counts()

In [28]:
u_upper_thresh = 0.6
u_lower_thresh = 0.4
def get_prediction(row):
#     print(row)
    if perc_correct_u[row['UserId']] >= u_upper_thresh :
        return 1
    elif perc_correct_u[row['UserId']] < u_lower_thresh :
        return 0
    elif perc_correct_q[row['QuestionId']] >= 0.5 :
        return 1
    else : 
        return 0

In [26]:
df_pred = df_test.copy()
print(df_pred)
df_pred['Prediction'] = df_pred.apply(lambda row: get_prediction(row), axis=1)

         QuestionId  UserId  AnswerId  IsCorrect
0             10856    5518   1127409          1
1             14766   41565  19673056          1
2              2829   97267  19426951          0
3             26464  100879   4929721          1
4             24436   87722   2927607          0
...             ...     ...       ...        ...
1983476       14545  112202   1427996          0
1983477       27545   38684  17768078          0
1983478        8220   98669  14312258          1
1983479        4067   87276   1272603          0
1983480       18074   69208  17550718          0

[1983481 rows x 4 columns]

In [27]:
score_num = (df_pred['Prediction'] == df_pred['IsCorrect']).sum()
score_den = len(df_pred)
score = score_num / score_den
score

0.6980076945531618